.header {
  height: 100vh;
  background-image: url("../../assets/images/presentation.jpg");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $color-white;

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 48px;
    padding-top: 32px;

    img {
      max-width: 128px;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__link {
    @include font-sans($bold, $sm, $normal);
    text-transform: uppercase;
    padding-left: 16px;
    transition: color 0.2s;
    color: $color-white;

    &:hover {
      color: $color-secondary;
    }
  }

  &__call-to-action {
    color: $color-white;
    border: 2px solid $color-primary;
    padding: 16px;
    transition: .3s;
    margin-left: 8px;

    &:hover {
      background-color: $color-primary;
      border-radius: 8px;
    }
  }

  .presentation {
    display: flex;
    height: 80%;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    margin-left: 48px;

    &__welcome {
      margin-top: 72px;
      color: $color-white;
    }

    &__title {
      @include font-cursiva($h2)
    }

    &__slogan {
      @include font-sans($light, $lg, $italic)
    }
  }
}