.services {
  background: $color-purple;
  color: $color-white;
  padding-block: 64px;

  &__content {
    @include container;
    justify-content: center;
    flex-direction: column;
  }

  &__title {
    @include font-cursiva($h5);
    text-align: center;
    padding-bottom: 64px;
  }

  &__card {
    margin: 0 auto;
    width: 240px;
    height: auto;
    background-color: $color-secondary-light;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    transition: box-shadow 0.3s;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 1px, rgba(0, 0, 0, 0.25) 0px 4px 5px;


    &:hover {
      box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 5px, rgba(0, 0, 0, 0.6) 0px 4px 5px;
    }

    p {
      line-height: 1.3;
    }
  }

  &__subtitle {
    @include font-sans($bold, $base, $normal);
    text-align: center;
    margin-bottom: 16px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    gap: 16px;

    p {
      font-weight: 300;
    }

    ul {
      margin-top: 16px;
    }

    @media screen and (min-width: 576px) and (max-width: 1080px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-evenly;
    }

    @media screen and (min-width: 300px) and (max-width: 575.9px) {
      flex-direction: column;
    }
  }

  &__procedure {

    &_wrapper {
      margin-top: 24px;
    }

    &__title {
      @include font-sans($bold, $base, $italic);
    }

    &__list {
      font-style: italic;

      li {
        font-size: rem($sm);
        font-weight: 300;

        &::before {
          content: '-';
          margin-right: 4px;
        }
      }
    }
  }

  &__call-to-action {
    color: $color-white;
    border: 2px solid $color-secondary;
    padding: 16px;
    transition: .3s;
    margin: 64px auto 0 auto;
    max-width: 154px;

    &:hover {
      color: $color-black;
      background-color: $color-secondary;
      border-radius: 8px;
    }
  }
}