// Colors
$color-primary: #854951;
$color-primary-light: #8549515f;
$color-secondary: #f2b1b9;
$color-secondary-light: #f2b1b944;
$color-black: #130f0e;
$color-white: #f1f1f1;

// Typography
$font-pinyon-script: "Pinyon Script", cursive;
$font-inter: 'Inter', sans-serif;