// Colors
$color-primary: #854951;
$color-primary-light: #8549515f;
$color-secondary: #f2b1b9;
$color-secondary-light: #f2b1b944;
$color-black: #130f0e;
$color-white: #f1f1f1;

// Tipografy
$font-cursive: "Great Vibes", cursive;
$font-sans: "Lato", sans-serif;

// Sizes
$xs: 12;
$sm: 14;
$base: 16;
$lg: 18;
$xl: 20;
$h8: 24;
$h7: 30;
$h6: 36;
$h5: 48;
$h4: 64;
$h3: 80;
$h2: 96;
$h1: 128;

// Weights
$thin: 100;
$light: 300;
$regular: 400;
$bold: 700;
$black: 900;

// Styles
$italic: italic;
$normal: normal;